<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <!-- spring的监听器，以便在启动时就自动加载spring的配置 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- spring的应用上下文 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/config/applicationContext.xml</param-value>
  </context-param>
  
  <!-- Spring刷新Introspector防止内存泄露 -->
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  
  <!-- Session监听器 -->
    <listener>
        <listener-class>com.yida.core.webxml.listener.SessionListenerHandle</listener-class>
    </listener>
    <listener>
        <listener-class>com.yida.core.webxml.listener.SessionAttributeListenerHandle</listener-class>
    </listener>
	
  <!-- 此配置,可以在BaseController中,获取当前线程的request对象 -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
  
  <!-- Spring MVC配置 -->
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/spring-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

  <!-- OpenSessionInViewFilter过滤器 -->
  <filter>
    <filter-name>lazyLoadingFilter</filter-name>
    <filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
    </filter-class>
  </filter>
    <filter-mapping>
        <filter-name>lazyLoadingFilter</filter-name>
        <servlet-name>spring</servlet-name>
    </filter-mapping>
  
  <!--Spring MVC FORM 的 Method 转换 -->
  <filter>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <servlet-name>spring</servlet-name>
  </filter-mapping>
  
  <!-- 使用spring的编码器 -->
  <filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<jsp-config>
  		<jsp-property-group>
  			<!--拦截所有的jsp文件运用下面配置-->
  			<url-pattern>*.jsp</url-pattern>
  			<!--支持EL表达式-->
  			<el-ignored>false</el-ignored>
  			<!--指定包含的页面-->
  			<include-prelude>/view/taglib.jsp</include-prelude>
  		</jsp-property-group>
    </jsp-config>
  
  <!--<servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>-->
  
  <!--<servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/servlet/DisplayChart</url-pattern>
  </servlet-mapping>-->
  
  <welcome-file-list>
    <welcome-file>forwardIndex.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
    <session-timeout>540</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/view/error.jsp</location>
  </error-page>
</web-app>